@import "./main.css";
body{
    overflow-x: hidden;
}


.text {
    
    padding-left: 5vw;
    width: 100%;
    height: 30vw;
    
    
    font-size: 2vw;
    color: white;
}

.text h1{
    font-size: 4vw;
    margin-bottom: 5vw;
}
.text p {
    width: 70vw;
    text-align:start;
}

.title {
    color: grey;
  }

  
